<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YesTattoo ~ Home of the Authors</title>

<!-- depen -->
    <link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
    <link href="css/ytstyle.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>


  </head>
  <body>
   <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand author-logo" href="#"></a>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Back</a></p>
    </div>
  </div>
  <div class="menu-bg"></div>
  

  <!-- Author Dashboard Home -->
  <div id="authorDash">
    <div class="container">
      <div class="lg8container">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">Your Artists</a></li>
          <li><a href="#">Submissions</a></li>
          <li><a href="#">Activity</a></li>
          <a href="#new" class="btn btn-submit">New Artist</a>
        </ul>
      </div>
      <div class="lg8container">
        <table class="table">
          <tr>
            <td><h4>Artist Name</h4></td>
            <td>Shop Name, Location</td>
            <td><a href="#"><button class="btn btn-link"><span class="flaticon-user56"></span>Edit</button></a><a href="#"><button class="btn btn-link"><span class="flaticon-left65"></span>Interview</button></a></td>
          </tr>
          <tr>
            <td><h4>Artist Name</h4></td>
            <td>Shop Name, Location</td>
            <td><a href="#"><button class="btn btn-link"><span class="flaticon-user56"></span>Edit</button></a><a href="#"><button class="btn btn-link"><span class="flaticon-left65"></span>Interview</button></a></td>
          </tr>
          <tr>
            <td><h4>Artist Name</h4></td>
            <td>Shop Name, Location</td>
            <td><a href="#"><button class="btn btn-link"><span class="flaticon-user56"></span>Edit</button></a><a href="#"><button class="btn btn-link"><span class="flaticon-left65"></span>Interview</button></a></td>
          </tr>
          <tr>
            <td><h4>Artist Name</h4></td>
            <td>Shop Name, Location</td>
            <td><a href="#"><button class="btn btn-link"><span class="flaticon-user56"></span>Edit</button></a><a href="#"><button class="btn btn-link"><span class="flaticon-left65"></span>Interview</button></a></td>
          </tr>
          <tr>
            <td><h4>Artist Name</h4></td>
            <td>Shop Name, Location</td>
            <td><a href="#"><button class="btn btn-link"><span class="flaticon-user56"></span>Edit</button></a><a href="#"><button class="btn btn-link"><span class="flaticon-left65"></span>Interview</button></a></td>
          </tr>
          <tr>
            <td><h4>Artist Name</h4></td>
            <td>Shop Name, Location</td>
            <td><a href="#"><button class="btn btn-link"><span class="flaticon-user56"></span>Edit</button></a><a href="#"><button class="btn btn-link"><span class="flaticon-left65"></span>Interview</button></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  

<!-- Form YT template -->
           <!--  <div class="featureArtist">
                <div class="form">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <h4 class="panel-title">
                          <a>Feature Artist</a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <form class="form-horizontal">
                            <fieldset>
                              <legend>Basic Info</legend>
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="artistName">Artist Name</label>  
                                <div class="col-md-5">
                                  <input id="artistName" name="artistName" type="text" placeholder="Username / nickname" class="form-control input-md" required="">
                                  <input id="artistName" name="artistName" type="text" placeholder="Optional real name" class="form-control input-md">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="shopName">Contact Info</label>
                                <div class="col-md-5">
                                    <input id="artistEmail" name="artistEmail" type="text" placeholder="Email" class="form-control input-md" required="">
                                    <input id="artistWebsite" name="artistWebsite" type="text" placeholder="Website" class="form-control input-md">
                                    <input id="artistPhone" name="artistPhone" type="text" placeholder="Phone" class="form-control input-md">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="shopName">Social Media</label>
                                <div class="col-md-5">
                                    <input id="artistFacebook" name="artistFacebook" type="text" placeholder="Facebook URL" class="form-control input-md">
                                    <input id="artistInstagram" name="artistInstagram" type="text" placeholder="Instagram Username" class="form-control input-md">
                                    <input id="artistTwitter" name="artistTwitter" type="text" placeholder="Twitter Handle" class="form-control input-md">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="shopName">Shop</label>
                                <div class="col-md-5">
                                    <input id="shopName" name="shopName" type="text" placeholder="Name" class="form-control input-md">
                                    <input id="shopWebsite" name="shopWebsite" type="text" placeholder="Website" class="form-control input-md">
                                    <input id="shopAddress" name="shopAddress" type="text" placeholder="Address" class="form-control input-md">
                                    <input id="shopZip" name="shopZip" type="text" placeholder="Zip Code" class="form-control input-md">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-3 col-md-offset-4">
                                  <button id="submitArtist" name="singlebutton" class="btn btn-danger btn-block">Save</button>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <h4 class="panel-title">
                          <a>Artist Interview</a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                          <form class="form-horizontal">
                          <fieldset>
                          <legend>Tell their story</legend>
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="textarea">Bio / About</label>
                            <div class="col-md-4">                     
                              <textarea class="form-control" id="textarea" name="textarea"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="contactMethod">Interviewed by</label>
                            <div class="col-md-4"> 
                              <label class="radio-inline" for="contactMethod-0">
                                <input type="radio" name="contactMethod" id="contactMethod-0" value="visit" checked="checked">Shop Visit</label> 
                              <label class="radio-inline" for="contactMethod-1">
                                <input type="radio" name="contactMethod" id="contactMethod-1" value="phone">Phone</label> 
                              <label class="radio-inline" for="contactMethod-2">
                                <input type="radio" name="contactMethod" id="contactMethod-2" value="email">Email</label>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">Question 1</label>
                            <div class="col-md-6">
                              <select id="selectbasic" name="selectbasic" class="form-control">
                                <option value="What inspires your art?">What inspires your art?</option>
                                <option value="2">Option two</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="textarea">Answer?</label>
                            <div class="col-md-4">                     
                              <textarea class="form-control" id="textarea" name="textarea"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-3 col-md-offset-4">
                              <button id="submitArtist" name="singlebutton" class="btn btn-danger btn-block">Save</button>
                            </div>
                          </div>

                          </fieldset>
                          </form>

                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <h4 class="panel-title">
                          <a>Portfolio</a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          <form class="form-horizontal">
                            <fieldset>
                              <legend>Show their work</legend>
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="filebutton">Tattoo 1</label>
                                <div class="col-md-4">
                                  <input id="tattooUpload" name="filebutton" class="input-file" type="file">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="filebutton">Tattoo 2</label>
                                <div class="col-md-4">
                                  <input id="tattooUpload" name="filebutton" class="input-file" type="file">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="filebutton">Tattoo 3</label>
                                <div class="col-md-4">
                                  <input id="tattooUpload" name="filebutton" class="input-file" type="file">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="filebutton">Tattoo 4</label>
                                <div class="col-md-4">
                                  <input id="tattooUpload" name="filebutton" class="input-file" type="file">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-3 col-md-offset-4">
                                  <button id="submitArtist" name="singlebutton" class="btn btn-danger">Submit Artist</button>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
      </div>

 -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 main-container">

    </div>
    <div class="content" id="authorapp">

    </div>
  </div>
</div>


 <!-- Login Template -->
  <script type="text/template" id="login-template">
    <header id="header"></header>
    <div class="login">
      <form class="login-form">
        <h2>Log In</h2>
        <div class="error" style="display:none"></div>
        <input type="text" id="login-username" placeholder="Username" />
        <input type="password" id="login-password" placeholder="Password" />
        <button>Log In</button>
      </form>

      <form class="signup-form">
        <h2>Sign Up</h2>
        <div class="error" style="display:none"></div>
        <input type="text" id="signup-username" placeholder="Username" />
        <input type="password" id="signup-password" placeholder="Create a Password" />
        <input type="text" id="signup-email" placeholder="Email" />
        <button>Sign Up</button>
      </form>
    </div>
  </script>


<!-- contacts template -->
<script type="text/template" id="tpl-contact">
  <div class="thumbnail">
    <img class="media-object" src="app/img/faces/<%- avatar %>">
  </div>
    <div class="media-heading">
      <h3>
        <%- name %>
        <small>
          <a href="#contacts/edit/<%- id %>"><span class="glyphicon glyphicon-pencil"></span></a>
          <a href="#contacts/delete/<%- id %>" class="delete-contract"><span class="glyphicon glyphicon-trash"></span></a>
        </small>
      </h3>
    </div>
  <div class="media-body">
    <dl>
      <dt>Phone Number:</dt>
      <dd><%- tel %></dd>
      <dt>Email:</dt>
      <dd><%- email %></dd>
    </dl>
  </div>
  <hr>
</script>


<!-- Contact form template -->
  <script type="text/template" id="tpl-new-contact">
    <h2 class="page-header text-center"><%= isNew ? 'Create' : 'Edit' %> Contact</h2>
    <form role="form" class="form-horizontal contract-form">
      <div class="form-group">
        <label class="col-sm-4 control-label">Full name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control contact-name-input" value="<%- name %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Email address:</label>
        <div class="col-sm-6">
          <input type="email" class="form-control contact-email-input" value="<%- email %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Telephone number:</label>
        <div class="col-sm-6">
          <input type="tel" class="form-control contact-tel-input" value="<%- tel %>">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
          <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
        </div>
        <div class="col-sm-3">
          <a href="#contacts" class="btn btn-outline btn-lg btn-block">Cancel</a>
        </div>
      </div>
    </form>
  </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>


    <script src="js/bootstrap.js"></script>
    <script src="js/ytjs.js"></script>
    <script src="js/authordash.js"></script>

  </body>
</html>