<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YesTattoo</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet' type='text/css'>
    <link href="css/ytstyle.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
  </head>


  <body>

    <script type="text/html" id="navTemplate">
       <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand main-logo" href="/"></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/register" id="artistsbutton" class="main-nav-item"><i class="flaticon-send5"></i>Subscribe ~ Join</a></li>
          </ul>
        </div>
      </div>
      <div class="menu-bg"></div>
    </script>

  <section class="app">
  </section>

    <!-- Landing Home Page / Featured Artists Page-->
    <script type="text/html" id="introTemplate">
      <div class="intro">
        <div class="l6container">        
          <h4>Welcome to YesTattoo! <a href="/register">Subscribe</a> for featured artists and other updates.</br></br> Support your artist and send us your tattoo via <a href="http://www.instagram.com/yestattoo">#YesTattoo.</a></h4></br>
          <button type="button" class="btn-lg" href="/about">About</button>
        </div>
      </div>
    </script>

    <script type="text/html" id="featuredContainerTemplate">
      <div class="container">
        <div class="md6container">
          <h2 class="page-header">Featured Artists<i class="flaticon-trophy4"></i></h2>
          <div id="featuredArtists">
          </div>
        </div>
      </div>
      <div id="loaders">
        <div class="load-fader"></div>
        <div class="load"><img src="img/yt-loadmore.png"></div>
      </div>

    </script>

    <script type="text/html" id="featuredArtistTemplate">

        <div class="row artistTitleBG">
          <div class="col-sm-2">
            <img class="artistProf" src="img/profs/<%= username %>.jpg" alt="Artist Prof">
          </div>
          <div class="col-sm-10 artistTitles">
            <h4 class="artistName"><%= name %><span> <%= username %></span></h4>
            <p class="artistLoc"><%= shop %> / <%= city %>, <%= state %>, <%= country %></p>
          </div>
        </div>
        <div class="questionContainer">
          <p><%= q1 %></p>
          <h4 class="answer"><%= a1 %></h4>
          <button type="button" class="btn btn-link pull-right">More...</button>
        </div>
        <div class="portfolioContainer">
          <a href="img/tattoos/<%= username %>1.jpg" class="tattooContainer"><img src="img/tattoos/<%= username %>1.jpg" class="tattooImg"></a>
          <a href="img/tattoos/<%= username %>2.jpg" class="tattooContainer"><img src="img/tattoos/<%= username %>2.jpg" class="tattooImg"></a>
          <a href="img/tattoos/<%= username %>3.jpg" class="tattooContainer"><img src="img/tattoos/<%= username %>3.jpg" class="tattooImg"></a>
          <a href="img/tattoos/<%= username %>4.jpg" class="tattooContainer"><img src="img/tattoos/<%= username %>4.jpg" class="tattooImg"></a>
        </div>

    </script>

    <!-- Artist profile -->
    <script type="text/html" id="artistTemplate">
      <div class="profHead">
        <div class="container">
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3">
              <img alt="Profile Picture" src="img/profs/<%= username %>.jpg" class="largeprofpic">
            </div>
            <div class="col-md-4 col-sm-4">
              <h3><%= name %><span><%= username %></span></h3>
              <div class="row">
                <div class="col-sm-12">
                  <h5><%= shop %></h5>
                  <h5><%= city %>, <%= state %>, <%= country %></h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-5">
              <div class="profButtons">
                <a href= "<%= fb %>" class="facebook" title="Facebook"></a>
                <a href="http://instagram.com/<%= ig %>" class="instagram" title="Instagram"></a>
                <a href="<%= website %>" class="link" title="Link"></a>
                <a href="mailto:<%= email %>?Subject=YesTattoo%20Message" class="message" title="Message"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container-fluid">
        <div class="profNavBG">
          <div class="profNavContainer col-xs-12 affix-top">
            <div class="container">
              <ul class="nav nav-tabs" id="profMenu">
                  <li class="active"><a href="#portfolioTab" data-toggle="tab"><span class="flaticon-tattoo1"></span>Portfolio</a></li>
                  <li><a href="#aboutTab" data-toggle="tab"><span class="flaticon-information"></span>About</a></li>
                  <li><a href="#shopTab" data-toggle="tab"><span class="flaticon-home73"></span>Map</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="tab-content">
        <!-- Portfolio Tab -->
        <div class="tab-pane fade in active" id="portfolioTab">
          <div class="tagFilters" data-toggle="buttons">
          </div>  
          <div class="container">          
            <div class="row">
              <a href="img/tattoos/<%= username %>1.jpg" class="tattooContainer"><img src="img/tattoos/<%= username %>1.jpg" class="tattooImg"></a>
              <a href="img/tattoos/<%= username %>2.jpg" class="tattooContainer"><img src="img/tattoos/<%= username %>2.jpg" class="tattooImg"></a>
              <a href="img/tattoos/<%= username %>3.jpg" class="tattooContainer"><img src="img/tattoos/<%= username %>3.jpg" class="tattooImg"></a>
              <a href="img/tattoos/<%= username %>4.jpg" class="tattooContainer"><img src="img/tattoos/<%= username %>4.jpg" class="tattooImg"></a>
            </div>
          </div>
        </div> 

        <!-- About Tab -->
        <div class="tab-pane fade" id="aboutTab">
          <div class="container">          
            <div class="md8container">
              <h3>About <%= name %></h3>
              <p><%= desc %>
              </p><hr><br>
              <h3>Featured Interview</h3>
              <h5>Q1 ~ <%= q1 %> </h5>
              <p class="answer"><%= a1 %></p>
              <h5>Q2 ~ <%= q2 %> <h5>
              <p class="answer"><%= a2 %></p>
              <i class="pull-right">Featured on June 1st, 2014 by Author Name</i>
            </div>
          </div>
        </div>
        <!-- Shop Tab -->
        <div class="tab-pane fade" id="shopTab">
          <div class="container">
            <h3 href=""><%= shop %></3>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </script>


    <!-- Registration page -->
    <script type="text/html" id="registerTemplate">
      <div class="container">
        <div class="lightContainer">
          <h2 class="text-center">Join</h2>
          <p class="text-center">Reserve your username. Subscribe to new featured artists. Stay up to date with YesTattoo.</p>
          <form class="signupForm" role="form">
            <div class="error" style="display:none"></div>
            <div class="input-group">
              <span class="input-group-addon">Yes.Tattoo /</span>
              <input type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            <div class="artistRegistration" style="display: none;">
              <input type="tel" class="form-control" id="inputPhone" placeholder="Phone Number">
              <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
            <a class="toggleArtistRegistration">Are you an artist or shop?</a></br>
            <button type="submit" class="btn-submit">Submit</button>
          </form> 
        </div>
      </div>
    </script>

    <!-- About page-->
    <script type="text/html" id="aboutTemplate">
      <div class="container-fluid">          
        <div class="aboutIntro row">
          <div class="lg8container">
            <span><h3> Every tattoo artist has a story as unique as the art they create. </h3>
            <h2> YesTattoo is here to tell stories and showcase art.</h2></span>
          </div>
        </div>
        <div class="aboutContainer row">
          <p class="lg6container" >YesTattoo is dedicated to connecting artists with their canvases. You are that canvas and you are the art. Finding the right artist can be hard. Too often tattoos online do not give credit the artist. That’s why we set out to create YesTattoo. Our mission is to find THE best and most talented artists from around the world.</br></br>
          We are building the website and mobile app to bring you one step closer to that perfect artist. Find the right style, color and flavor. Build your collection. Check out our Featured Artist Gallery for a sneak peak.</p>
        </div>
        <div class="row darkContainer">
          <div class="lg8container">
            <h3> Featured Artist Gallery.</h3>
            <p>Through our featured gallery, you’ll find true artistic ability. Artists are individually chosen to be featured based on their inspiration within the industry and skill with a machine.</p></br>
            <div class="col-sm-4 col-xs-12">
              <h4> <i class="flaticon-trophy4"></i>Recommendations </h4>
              <p>Featured artists are recommended by other artists or chosen from #YesTattoo <a href="http://www.instagram.com/yestattoo" target="_blank">Instagram</a> submissions.</p> 
            </div>
            <div class="col-sm-4 col-xs-12">
              <h4><i class="flaticon-tattoo1"></i> Artist Profiles </h4>
              <p> Stories from the artist, their best work and the contact information to book them.</p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <h4><i class="flaticon-earth39"></i> Tradition </h4>
              <p> A glimpse into the living tradition of tattooing. Tattoo styles from Portraits, Traditional American, Black and Grey to Realistic.</p>
            </div>
          </div>
        </div>
        <div class="row aboutContainer">
          <div class="lg6container">
            <p> Tattoo lovers and artists come together to share the timeless tradition of tattooing. Share your tattoo, support your artist and explore new styles. Become a part of the ever-evolving artistry. Join the YesTattoo community.</p>
            <h2 class="text-center"> Stories are best told in ink, what’s yours? </h2>
          </div>
        </div>
        <div class="lg8container">
          <div class="contactContainer">
            <h3> Contact Us </h3> 
            <p> To be featured, send us your tattoo by tagging YesTattoo on Instagram. 
            For everything else, shoot us an email at <a href="mailto:contact@yestattoo.com?Subject=Hello%20YesTattoo" >contact@yestattoo.com</a></p>
          </div>
        </div>
      </div>
    </script>

    <!-- Scroll to top button-->
    <a id="back-to-top" href="#" class="btn btn-link back-to-top" role="button" title="Scroll to the top!!!" data-toggle="tooltip" data-placement="left"><span class="flaticon-up49"></span></a>


    <script src="js/libs/jquery-1.11.1.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDND9JGq1-cU9bJy12cTy1-nTNq0a96sOY&sensor=false&libraries=places"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.js"></script>
    
    <script src="js/libs/locationpicker.jquery.js"></script>
    <script src="js/libs/typeahead.bundle.min.js"></script>
    <script src="js/yt-artistblog.js"></script>
    <script src="js/yt-proto.js"></script>
    <script src="js/yt-shared.js"></script>


  </body>

  <footer>
    <hr>
    <div class="ytfooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <a href="http://www.instagram.com/yestattoo" target="_blank"><i class="instagram-icon social-icon"></i></a>
            <a href="https://www.twitter.com/YesTattoo" target="_blank"><i class="social-icon twitter-icon"></i></a>
            <a href="https://www.facebook.com/pages/YesTattoo/587599791252654" target="_blank"><i class="social-icon facebook-icon"></i></a>
          </div>
          <div class="col-sm-6 col-xs-12 footerlinks">
            <a href="/">YesTattoo, Inc.</a>
            <a href="">Terms</a>
            <a href="/about">About</a>
          </div>
        </div>
      </div>
    </div>
  </footer>


</html>